---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button1.tsx';
---

<Layout title="Welcome to Astro.">
	<main>
		<Button client:load />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 4rem;
		width: 400px;
		max-width: calc(100% - 4rem);
		color: black;
		font-size: 30px;
		text-align: center;
		background-color: white;
	}

	button {
		font-size: 4rem;
		color: white;
		border: none;
		border-radius: 3px;
		cursor: pointer;
	}
	
	p{
		padding-bottom: 30px;
	}
</style>